__pycache__
apps/dashboard/__pycache__
apps/dashboard/scripts/__pycache__
apps/authentication/__pycache__
apps/dashboard/tns-wiredin-cqna.pem
.idea
cnqa.sql
venv
*.db
.env
my_db.db
cajulab_remote_sensing_dashboard/settings.py
staticfiles/cashew_map_en.html
staticfiles/cashew_map_fr.html
static/plantation_data/
privatekey.json
media/plantation_data/
tns-wiredin-cqna.pem
staticfile
solar-fuze-338810-33e9115b25da.json
.vscode/launch.json
*.db-shm
*.db-wal
