__pycache__
apps/dashboard/__pycache__
apps/dashboard/scripts/__pycache__
apps/authentication/__pycache__
apps/dashboard/tns-wiredin-cqna.pem
.idea
cnqa.sql
venv
*.db
.env
my_db.db
static/plantation_data/
.env
privatekey.json
.env
