__pycache__
apps/dashboard/__pycache__
apps/dashboard/scripts/__pycache__
apps/authentication/__pycache__
apps/dashboard/tns-wiredin-cqna.pem
.idea
cnqa.sql
venv
*.db
.env
static/plantation_data/
privatekey.json
media/plantation_data/
tns-wiredin-cqna.pem
solar-fuze-338810-d12f2ba4dcdd.json
staticfile
solar-fuze-338810-33e9115b25da.json
