{% extends 'layouts/base-fullscreen.html' %}
{% load i18n %}


{% block title %} Register {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Page content -->
    <div class="container mt--8 pb-5">
      <!-- Table -->
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
        
          <div class="card bg-secondary shadow border-0">
            <div class="card-header bg-transparent pb-5">
              <div class="text-muted text-center mt-2 mb-4">
                {% trans "Register Organization" %}
              </div>
            </div>
            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">

                {% if msg %}
                  <small>{{ msg | safe }}</small>
                {% else %}
                  {% trans "Add your credentials" %}
                {% endif %}  
              
              </div>

              {% if not success %}

                <form method="POST">

                  {% csrf_token %}
            
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      {{ form.organization_name }}
                    </div>
                  </div>
                  <span class="text-error">{{ form.organization_name.errors }}</span>
            
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      {{ form.description }}
                    </div>
                  </div>
                  <span class="text-error">{{ form.description.errors }}</span>
            
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      {{ form.phone }}
                    </div>
                  </div>
                  <span class="text-error">{{ form.phone.errors }}</span>

                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      {{ form.e_mail }}
                    </div>
                  </div>
                  <span class="text-error">{{ form.e_mail.errors }}</span>

                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      {{ form.website }}
                    </div>
                  </div>
                  <span class="text-error">{{ form.website.errors }}</span>
            
                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                      </div>
                      {{ form.address }}
                    </div>
                  </div>
                  <span class="text-error">{{ form.address.errors }}</span>

                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      {{ form.country }}
                    </div>
                  </div>
                  <span class="text-error">{{ form.country.errors }}</span>

                  <div class="form-group">
                    <div class="input-group input-group-alternative mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      {{ form.city }}
                    </div>
                  </div>
                  <span class="text-error">{{ form.city.errors }}</span>

                  <div class="row my-4">
                    <div class="col-12">
                      <div class="custom-control custom-control-alternative custom-checkbox">
                        <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                        <label class="custom-control-label" for="customCheckRegister">
                          <span class="text-muted">{% trans "I agree with the" %} <a href="#!">{% trans "Privacy Policy" %}</a></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-4">{% trans "Create Organization" %}</button>
                  </div>
                </form>

              {% endif %}  
  
            </div>
          </div>

        </div>
      </div>

      <div class="row mt-3">
        <div class="col-3"></div>
        <div class="col-3">
          <a href="{% url 'login' %}" class="text-light"><small>{% trans "Login" %}</small></a>
        </div>
        <div class="col-3 text-right">
          <a href="https://www.technoserve.org/contact-us/" class="text-light"><small>{% trans "Contact Us" %}</small></a>
        </div>
      </div>

    </div>
  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
