{% extends 'layouts/base.html' %}
{% load i18n %}


{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <button id = "collap_button" class="pr-3 sidenav-toggler sidenav-toggler-dark btn btn-primary" type="button" data-action="sidenav-pin" data-target="#sidenav-main"><i class="fas fa-bars"></i></button>&nbsp;&nbsp;&nbsp;<h6 class="h2 text-white d-inline-block mb-0">{% trans "Tables" %}</h6>
            <!-- <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#">Companies</a></li>
                <li class="breadcrumb-item active" aria-current="page">Tables</li>
              </ol>
            </nav> -->
          </div>
          <!-- <div class="col-lg-6 col-5 text-right">
            <a href="#" class="btn btn-sm btn-neutral">New</a>
            <a href="#" class="btn btn-sm btn-neutral">Filters</a>
          </div> -->
        </div>
      </div>
    </div>
  </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">{% trans "Organizations" %}</h3>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col" class="sort" data-sort="name">{% trans "Organization Name" %}</th>
                        <th scope="col" class="sort" >{% trans "Description" %}</th>
                        <th scope="col" class="sort" >{% trans "Phone Number" %}</th>
                        <th scope="col" class="sort" >{% trans "Email" %}</th>
                        <th scope="col" class="sort" >{% trans "Website" %}</th>
                        <th scope="col" class="sort" >{% trans "Address" %}</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        {% for company in companies %}
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">{{ company.organization_name }}</span>
                                        </div>
                                    </div>
                                </th>
                                <td >
                                    {{ company.description }}
                                </td>
                                <td>
                                    <span class="badge badge-dot mr-4">
                                        <span class="status">{{ company.phone }}</span>
                                    </span>
                                </td>
                                <td >
                                    {{ company.e_mail }}
                                </td>
                                <td >
                                    {{ company.website }}
                                </td>
                                <td >
                                    {{ company.address }}, {{ company.city }}, {{ company.country }}.
                                </td>
                                <!-- <td class="text-right">
                                    <div class="dropdown">
                                    <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-ellipsis-v"></i>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                    </div>
                                </td> -->
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer py-4">
                    <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                        <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                            <i class="fas fa-angle-left"></i>
                            <span class="sr-only">{% trans "Previous" %}</span>
                        </a>
                        </li>
                        {% for i in count %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ i }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="fas fa-angle-right"></i>
                                <span class="sr-only">{% trans "Next" %}</span>
                            </a>
                        </li>
                    </ul>
                    </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dark table -->

        <!-- 
            plantation_name = models.CharField(max_length=200, unique=True)
    plantation_code = models.CharField(max_length=200, unique=True)
    # plantation_id = models.CharField(max_length=200, unique=True)
    plantation_age = models.IntegerField(blank=True, null=True)
    owner_first_name = models.CharField(max_length=200)
    owner_last_name = models.CharField(max_length=200)
    phone_regex = RegexValidator(regex=r'^\+?1?\d{9,15}$', message="Phone number must be entered in the format: '+999999999'. Up to 15 digits allowed.")
    phone = models.CharField(validators=[phone_regex], max_length=17, blank=True) # validators should be a list
    plantation_address = models.CharField(max_length=200)
    owner_address = models.CharField(max_length=200)
    total_trees = models.IntegerField(blank=True, null=True)
    country = models.CharField(max_length=200)
    department = models.CharField(max_length=200)
    commune = models.CharField(max_length=200)
    arrondissement = models.CharField(max_length=200)
    village = models.CharField(max_length=200)
    current_area = models.FloatField(null=True)
    latitude = models.FloatField(null=False, blank=False)
    longitude = models.FloatField(null=True)
    altitude = models.FloatField(null=True)
    certified = models.BooleanField(default=False)
    certified_by = models.BigIntegerField(blank=True)
    certified_date = models.DateTimeField(blank=True, null=True)
    partner = models.CharField(max_length=200)
    website = models.URLField(max_length=254, null=True)
         -->
        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <h3 class="mb-0">{% trans "Plantation" %}</h3>
                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col" class="sort" data-sort="name">{% trans "Plantation Name" %}</th>
                        <th scope="col" class="sort" >{% trans "Plantation Code" %}</th>
                        <th scope="col" class="sort" >{% trans "Plantation Age" %}</th>
                        <th scope="col" class="sort" >{% trans "Owner Name" %}</th>
                        <th scope="col" class="sort" >{% trans "Phone Number" %}</th>
                        <th scope="col" class="sort" >{% trans "Plantation Address" %}</th>
                        <th scope="col" class="sort" >{% trans "Owner Address" %}</th>
                        <th scope="col" class="sort" >{% trans "Total Trees" %}</th>
                        <th scope="col" class="sort" >{% trans "Partner" %}</th>
                        <th scope="col" class="sort" >{% trans "Website" %}</th>
                        <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        {% for plantation in plantations %}
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">{{ plantation.plantation_name }}</span>
                                        </div>
                                    </div>
                                </th>
                                <td >
                                    {{ plantation.plantation_code }}
                                </td>
                                <td>
                                    <span class="badge badge-dot mr-4">
                                        <span class="status">{{ plantation.plantation_age }}</span>
                                    </span>
                                </td>
                                <td >
                                    {{ plantation.owner_first_name }} {{ plantation.owner_last_name }}
                                </td>
                                <td >
                                    {{ plantation.phone }}
                                </td>
                                <td >
                                    {{ plantation.plantation_address }}, {{ plantation.commune }}, {{ plantation.department }}, {{ plantation.country }}.
                                </td>
                                <td >
                                    {{ plantation.owner_address }}, {{ plantation.commune }}, {{ plantation.department }}, {{ plantation.country }}.
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    </div>
                    <!-- Card footer -->
                    <div class="card-footer py-4">
                    <nav aria-label="...">
                    <ul class="pagination justify-content-end mb-0">
                        <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">
                            <i class="fas fa-angle-left"></i>
                            <span class="sr-only">{% trans "Previous" %}</span>
                        </a>
                        </li>
                        {% for i in org_count %}
                            <li class="page-item active">
                                <a class="page-link" href="#">{{ i }}</a>
                            </li>
                        {% endfor %}
                        <li class="page-item">
                            <a class="page-link" href="#">
                                <i class="fas fa-angle-right"></i>
                                <span class="sr-only">{% trans "Next" %}</span>
                            </a>
                        </li>
                    </ul>
                    </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}