{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}


{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <style>
        .parent {
            position: relative;
            overflow: hidden;
            right: 5%;
            width: 105%;
            height: 100vh;
        {#margin: 10px;#}
        }

        .parent div {
            height: 100% !important;
        }

        .parent div div {
            padding-bottom: inherit !important;
        }

        .child1 {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 1;
            background: transparent;
        }

        .child2 {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 1;
            background: transparent;
        {#z-index: 1;#}{#margin: 30px;#}
        }

        #sidenav-tog {
            z-index: 9;
            position: absolute;
            margin-left: 30px;
            margin-top: 30px;
        }
    </style>

{% endblock stylesheets %}

{% block content %}

    {% csrf_token %}
    <!-- Sidenav toggler -->
    <div class="pr-3 sidenav-toggler sidenav-toggler-dark" data-action="sidenav-pin" data-target="#sidenav-main"
         id="sidenav-tog">
        <button class="btn btn-primary" type="button">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>
    <div class="parent">
        <div class="child1">
        </div>
        <div class="child2">
            {{ map | safe }}
        </div>
    </div>
{% endblock content %}


<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="{% static 'assets/vendor/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendor/chart.js/dist/Chart.extension.js' %}"></script>
{% endblock javascripts %}

