{% extends 'layouts/base.html' %}
{% load i18n %}

{% block stylesheets %}
<style>
    #date_form, #time_form, #date_form_btn, #time_form_btn {
        display: none;
    }

    #simple_search_input {
        margin-right: 0rem !important;
    }
</style>
{% endblock stylesheets %}

{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div>
            <button id = "collap_button" class="pr-3 sidenav-toggler sidenav-toggler-dark btn btn-primary" type="button" data-action="sidenav-pin" data-target="#sidenav-main"><i class="fas fa-bars"></i></button>&nbsp;&nbsp;&nbsp;<h6 class="h2 text-white d-inline-block mb-0">{% trans "Training" %}</h6>
          </div>
          <div style="margin-left: auto">
            <form id="simple_search" class="form-inline my-2 my-lg-0" action="{% url 'training' %}" style="display: inline">
                <input id="simple_search_input" class="form-control mr-sm-2" type="search" placeholder={% trans "Search" %} aria-label="search" name="search">
                {{ form.column }}
                &nbsp&nbsp<span style="color: #fff; font-size: 1rem; font-weight: 300; line-height: 1.7;">{% trans "From" %}</span>&nbsp&nbsp{{ date_duration_get_form.my_date_field }}
                &nbsp&nbsp<span style="color: #fff; font-size: 1rem; font-weight: 300; line-height: 1.7;">{% trans "To" %}</span>&nbsp&nbsp{{ date_duration_get_form.my_date_field1 }}
            </form>
            <form id="date_form" method="post" class="form-inline my-2 my-lg-0" action="{% url 'training' %}">
                {% csrf_token %}
                {{ date_form.training_date }}
                {{ form.column }}
            </form>
            <form method="post" id="time_form" class="form-inline my-2 my-lg-0" action="{% url 'training' %}">
                {% csrf_token %}
                {{ time_form.training_time }}
                {{ form.column }}
            </form>
            <button id="simple_form_btn" class="btn btn-outline-success my-2 my-sm-0" form="simple_search">{% trans "Search" %}</button>
            <button id="date_form_btn" class="btn btn-outline-success my-2 my-sm-0" form="date_form" type="submit">{% trans "Search" %}</button>
            <button id="time_form_btn" class="btn btn-outline-success my-2 my-sm-0" form="time_form" type="submit">{% trans "Search" %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- Page content -->
    <div class="container-fluid mt--6">
        <!-- Dark table -->

        <div class="row">
            <div class="col">
                <div class="card">
                    <!-- Card header -->
                    <div class="card-header border-0">
                        <div style="float: left">
                        <h3 class="mb-0">{% trans "Training" %}</h3>
                        </div>
                        <div style="float: right">
                        <a href="{% url 'export_xls_training' %}" target="_blank" class="btn btn-primary">{% trans "Export Excel" %}</a>
                        <a href="{% url 'export_csv_training' %}" target="_blank" class="btn btn-primary">{% trans "Export CSV" %}</a>
                        <a href="{% url 'export_pdf_training' %}" target="_blank" class="btn btn-primary">{% trans "Export PDF" %}</a>
                        </div>

                    </div>
                    <!-- Light table -->
                    <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                        <tr>
                        <th scope="col" class="sort" >{% trans "Module Name" %}</th>
                        <th scope="col" class="sort" >{% trans "Trainer First Name" %}</th>
                        <th scope="col" class="sort" >{% trans "Trainer Last Name" %}</th>
                        <th scope="col" class="sort" >{% trans "Date" %}</th>
                        <th scope="col" class="sort" >{% trans "Time" %}</th>
                        <th scope="col" class="sort" >{% trans "Number of Participant" %}</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        {% for training in trainings %}
                            <tr>
                                <th scope="row">
                                    <div class="media align-items-center">
                                        <div class="media-body">
                                            <span class="name mb-0 text-sm">{{ training.module_id.module_name }}</span>
                                        </div>
                                    </div>
                                </th>
                                <td >
                                    {{ training.trainer_id.firstname }}
                                </td>
                                <td>
                                    <span class="badge badge-dot mr-4">
                                        <span class="status">{{ training.trainer_id.lastname }}</span>
                                    </span>
                                </td>
                                <td >
                                    {{ training.DateTime.date }}
                                </td>
                                <td >
                                    {{ training.DateTime.time }}
                                </td>
                                <td >
                                    {{ training.number_of_participant }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    </div>
                    <div class="card-footer py-4">
                        <nav aria-label="...">
                            <ul class="pagination" justify-content-end mb-0">
                            {% if trainings.has_other_pages %}
                                    {% if trainings.has_previous %}
                                        <li class="page-item active">
                                            <a class="page-link" href="?page={{ trainings.previous_page_number }}">
                                                <i class="fas fa-angle-left"></i>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#" tabindex="-1">
                                                <i class="fas fa-angle-left"></i>
                                                <span class="sr-only">
                                                    {% trans "Previous" %}
                                                </span>
                                            </a>
                                        </li>
                                    {% endif %}
                                    {% for i in page_range|default_if_none:trainings.paginator.get_elided_page_range %}
                                        {% if trainings.number == i %}
                                            <li class="page-item">
                                                
                                                <a class="page-link" href="#">{{ i }}</a>
                                                <span class="sr-only">
                                                    (current)
                                                </span>
                                            </li>
                                        {% else %}

                                            {% if i == trainings.paginator.ELLIPSIS %}
                                                <li class="page-item">
                                                    <a class="page-link" href="#">
                                                        {{ i }}
                                                    </a>
                                                </li>
                                            {% else %}
                                                <li class="page-item active">
                                                    <a class="page-link" href="?page={{ i }}">
                                                        {{ i }}
                                                    </a>
                                                </li>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if trainings.has_next %}
                                        <li class="page-item active">
                                            <a class="page-link" href="?page={{ trainings.next_page_number }}">
                                                <i class="fas fa-angle-right"></i>
                                                <span class="sr-only">
                                                    {% trans "Next" %}
                                                </span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="#">
                                                <i class="fas fa-angle-right"></i>
                                                <span class="sr-only">{% trans "Next" %}</span>
                                            </a>
                                        </li>
                                    {% endif %}

                            {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 