{% extends 'layouts/base.html' %}
{% load static %}
{% load i18n %}


{% block title %} Dashboard {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}
    <style>
        .parent {
            position: relative;
            overflow: hidden;
            right: 5%;
            width: 105%;
            height: 100vh;
        {#margin: 10px;#}
        }

        .parent div {
            height: 100% !important;
        }

        .parent div div {
            padding-bottom: inherit !important;
        }
        
        .child1 {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 1;
            background: transparent;
        }

        .child2 {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 1;
            background: transparent;
        {#z-index: 1;#}{#margin: 30px;#}
        }

    </style>

{% endblock stylesheets %}

{% block content %}

    {% csrf_token %}
    <div class="parent">
        <div class="child1">
        </div>
        <div class="child2">
            {{ map | safe }}
        </div>
    </div>
{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
    <script src="{% static 'assets/vendor/chart.js/dist/Chart.min.js' %}"></script>
    <script src="{% static 'assets/vendor/chart.js/dist/Chart.extension.js' %}"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                type: "GET",
                url: "full_map",
                async: true,
                dataType: "json",
                contentType: "application/javascript; charset=utf8",
                complete: function (data) {
                    let full_map = data.responseJSON['map'];
                    $("div.child1").replaceWith(full_map);
                    setTimeout(
                        function () {
                            $('div.child2').fadeOut('', function () {
                                $('div.child2').replaceWith();
                            });
                        }, 250);
                },
            });
        });
    </script>
{% endblock javascripts %}